<%= render partial: 'dashboard/card_header', locals: { title: "Blood Pressure", link_path: blood_pressure_path }%>
<% if !@model.blood_pressure.nil? %>
    <div class="card-body">
        <%= blood_pressure_display(@model.blood_pressure) %>
        <p class="unit-label">
            mmHg
        </p>
        <p>
            Pulse: <%= @model.blood_pressure.pulse %>
        </p>
    </div>
    <div class="card-footer">
        <%= to_user_timezone_formatted(@model.blood_pressure.created_at) %>
    </div>
<% else %>
    <%= render partial: 'dashboard/no_data' %>
<% end %>