<%= render partial: 'dashboard/card_header', locals: { title: "Weight", link_path: weight_path }%>
<% if @model.weight != nil %>
    <div class="card-body show-new-link" data-new-link="<%= weight_new_path %>">
        <%= @model.weight.value %>
        <p class="unit-label">
            <%= h current_user.weight_unit %>
        </p>
    </div>
    <div class="card-footer">
        <span class="date-time-stamp"><%= to_user_timezone_formatted(@model.weight.taken_at) %></span>
    </div>
<% else %>
    <%= render partial: 'dashboard/no_data', locals: { new_link: weight_new_path, is_placeholder: false } %>
<% end %>