<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12">
      <div class="card edit-registration-card">
        <div class="card-header">
          <h2>Edit <%= resource_name.to_s.humanize %></h2>
        </div>
        <div class="card-block">
          <%= form_for(resource, as: resource_name, :html => { :class => "form", :method => :put }, :url => registration_path(resource_name)) do |f| %>
            <div class="col-sm-12">
              <%= devise_error_messages! %>
            </div>

            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-5">
                  <h3>Account Details</h3>
                
                  <div class="form-group field">
                    <div class="col-sm-12">
                      <%= f.label :email %><br />
                      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                    </div>
                  </div>

                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                  <% end %>

                  <div class="form-group field">
                    <div class="col-sm-12">
                      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                      <% if @minimum_password_length %>
                        <br />
                        <em><%= @minimum_password_length %> characters minimum</em>
                      <% end %>
                    </div>
                  </div>

                  <div class="form-group field">
                    <div class="col-sm-12">
                      <%= f.label :password_confirmation %><br />
                      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
                    </div>
                  </div>
                </div>

                <div class="col-sm-5 offset-sm-1">
                  <h3>Preferences</h3>

                  <div class="form-group field">
                    <div class="col-sm-12">
                      <%= f.label :timezone %><br />
                      <%= f.time_zone_select :timezone, nil, {}, { :class => "form-control" } %>
                    </div>
                  </div>

                  <div class="form-group field">
                    <div class="col-sm-12">
                      <%= f.label "Weight Unit" %>
                      <%= select_tag "weight_unit", options_for_select(["lbs", "kg"]), { :class => "form-control" } %>
                    </div>
                  </div>

                  <div class="form-group field">
                    <div class="col-sm-12">
                      <%= f.label "Blood Glucose Unit" %>
                      <%= select_tag "blood_glucose_unit", options_for_select(["mg/dL", "mmol/L"]), { :class => "form-control" } %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group field">
                <div class="col-sm-12">
                  <hr/>
                  <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                  <%= f.password_field :current_password, autocomplete: "off", class: "form-control col-sm-3" %>
                </div>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group actions">
                <div class="col-sm-12">
                  <%= f.submit "Update", class: "btn btn-primary" %>
                </div>
              </div>
            </div>
          <% end %>

          <div class="col-sm-12">
            <div class="form-group">
              <div class="col-sm-12">
                <%= link_to "Back", :back %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>