<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <% if @measurements.length == 0 %>
                <h2 class="text-danger">No weight measurements</h2>
            <% else %>
                <h2>Weight measurements</h2>
            <% end %>
            <a href="<%= weight_new_path %>">New Entry</a>
            <br/><br/>
            <% if flash[:message] %>
                <div class="alert alert-<%= flash[:message_type] || 'success' %>">
                    <%= flash[:message] %>
                </div>
            <% end %>
            <% if @measurements.length > 0 %>
                <span>Showing <%= @first_record_index %>-<%= @last_record_index %> of <%= @total_count %></span>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Measurement (<%= current_user.weight_unit %>)</th>
                            <th>Notes</th>
                            <th>Date/Time</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @measurements.each do |m| %>
                            <tr>
                                <td><%= m.value %></td>
                                <td><%= m.notes %></td>
                                <td><%= to_user_timezone_formatted(m.taken_at) %></td>
                                <td><%= link_to "Edit", weight_edit_path(:id => m.id) %></td>
                                <td><%= link_to "Delete", weight_delete_path(:id => m.id), method: :post, :class => "btn-delete" %></td>
                            </tr>
                        <% end %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><strong>Average</strong>&nbsp;&nbsp;<%= calculate_average_weight(@measurements) %> <%= current_user.weight_unit %></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
                <%= render partial: "common/pager", locals: { current_page: @current_page, number_of_pages: @number_of_pages, resource_path: 'weight' } %>
            <% end %>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).on('turbolinks:load', () => {
        Application.ActionLinks.init();
    });
</script>