<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <% if @measurement != nil && @measurement.errors.any? %>
                <div class="error_explanation">
                    <h2><%= pluralize(@measurement.errors.count, "error") %> prohibited this measurement from being saved:</h2>

                    <ul>
                        <% @measurement.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <%= form_for @measurement, url: { action: "new" }, html: { class: "form" } do |f| %>
                <fieldset>
                    <legend>New Weight Measurement</legend>
                    <div class="form-group row">
                        <%= f.label(:value, "Value", class: "col-sm-1 control-label") %>
                        <div class="col-sm-2">
                            <%= f.text_field(:value, class: "form-control") %>
                        </div>
                    </div>
                    <div class="form-group row">
                        <%= label_tag(:notes, "Notes", class: "col-sm-4 control-label") %>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <%= f.text_area(:notes, size: "15x4", class: "form-control") %>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <%= f.submit("Save", class: "btn btn-primary") %>
                            &nbsp;
                            <%= link_to "Cancel", dashboard_path %>
                        </div>
                    </div>
                </fieldset>
            <% end %>
        </div>
    </div>
</div>