<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <% if @measurements.length == 0 %>
                <h2>No blood pressure measurements</h2>
                <a href="<%= blood_pressure_new_path %>">New Entry</a>
            <% else %>
                <h2>Blood pressure measurements</h2>
                <a href="<%= blood_pressure_new_path %>">New Entry</a>
                <br/><br/>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Measurement (mmHg)</th>
                            <th>Pulse</th>
                            <th>Position</th>
                            <th>Location</th>
                            <th>Date/Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @measurements.each do |m| %>
                            <tr>
                                <td><%= "#{m.systolic}/#{m.diastolic}" %></td>
                                <td><%= m.pulse %></td>
                                <td><%= m.blood_pressure_measurement_position.name %></td>
                                <td><%= m.blood_pressure_measurement_location.name %></td>
                                <td><%= to_user_timezone_formatted(m.created_at) %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            <% end %>
        </div>
    </div>
</div>