<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <% if @measurements.length == 0 %>
                <h2 class="text-danger">No blood pressure measurements</h2>
            <% else %>
                <h2>Blood pressure measurements</h2>
            <% end %>
            <a href="<%= blood_pressure_new_path %>">New Entry</a>
            <br/><br/>
            <% if flash[:message] %>
                <div class="alert alert-<%= flash[:message_type] || 'success' %>">
                    <%= flash[:message] %>
                </div>
            <% end %>
            <% if @measurements.length > 0 %>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Measurement (mmHg)</th>
                            <th>Pulse</th>
                            <th>Position</th>
                            <th>Location</th>
                            <th>Date/Time</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @measurements.each do |m| %>
                            <tr>
                                <td><%= "#{m.systolic}/#{m.diastolic}" %></td>
                                <td><%= m.pulse %></td>
                                <td><%= m.blood_pressure_measurement_position.name %></td>
                                <td><%= m.blood_pressure_measurement_location.name %></td>
                                <td><%= to_user_timezone_formatted(m.taken_at) %></td>
                                <td><%= link_to "Edit", blood_pressure_edit_path(:id => m.id) %></td>
                                <td><%= link_to "Delete", blood_pressure_delete_path(:id => m.id), method: :post, :class => "btn-delete" %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            <% end %>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).on('turbolinks:load', () => {
        Application.ActionLinks.init();
    });
</script>