<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <% if @measurement != nil && @measurement.errors.any? %>
                <div class="error_explanation">
                    <h2><%= pluralize(@measurement.errors.count, "error") %> prohibited this measurement from being saved:</h2>

                    <ul>
                        <% @measurement.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <%= form_for @measurement, url: { action: "new" }, html: { class: "form" } do |f| %>
                <fieldset>
                    <legend>New Blood Pressure Measurement</legend>
                    <div class="form-group row">
                        <%= f.label(:blood_pressure_measurement_position_id, "Position", class: "col-sm-1 control-label") %>
                        <div class="col-sm-3">
                            <%= f.collection_select(:blood_pressure_measurement_position_id, @positions, :id, :name, { :selected => @measurement.blood_pressure_measurement_position_id.to_i || 1 }, { :class => "form-control" }) %>
                        </div>
                    </div>
                    <div class="form-group row">
                        <%= f.label(:blood_pressure_measurement_location_id, "Location", class: "col-sm-1 control-label") %>
                        <div class="col-sm-3">
                            <%= f.collection_select(:blood_pressure_measurement_location_id, @locations, :id, :name, { :selected => @measurement.blood_pressure_measurement_location_id.to_i || 1 }, { :class => "form-control" }) %>
                        </div>
                    </div>
                    <div class="form-group row">
                        <%= f.label(:systolic, "Systolic", class: "col-sm-1 control-label") %>
                        <div class="col-sm-3">
                            <%= f.text_field(:systolic, class: "form-control") %>
                        </div>
                    </div>
                    <div class="form-group row">
                        <%= f.label(:diastolic, "Diastolic", class: "col-sm-1 control-label") %>
                        <div class="col-sm-3">
                            <%= f.text_field(:diastolic, class: "form-control") %>
                        </div>
                    </div>
                    <div class="form-group row">
                        <%= f.label(:pulse, "Pulse", class: "col-sm-1 control-label") %>
                        <div class="col-sm-3">
                            <%= f.text_field(:pulse, class: "form-control") %>
                        </div>
                    </div>
                    <div class="form-group row">
                        <%= f.label(:taken_at, "Taken At", class: "col-sm-1 control-label") %>
                        <div class="col-sm-3">
                            <div class="input-group date" id="taken-at" data-target-input="nearest">
                                <%= f.text_field(:taken_at, class: "form-control date-time-picker", data: { :target => "#taken-at" }) %>
                                <div class="input-group-append" data-target="#taken-at" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                                <div class="input-group-append" data-target="#taken-at" data-clear="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-times"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <%= label_tag(:notes, "Notes", class: "col-sm-4 control-label") %>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <%= f.text_area(:notes, size: "15x4", class: "form-control") %>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <%= f.submit("Save", class: "btn btn-primary") %>
                            &nbsp;
                            <%= link_to "Cancel", blood_pressure_path %>
                        </div>
                    </div>
                </fieldset>
            <% end %>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).on('turbolinks:load', () => {
        BloodPressure.NewEntry.init();
    });
</script>